<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="yunleicheng.com" android:versionCode="3" android:versionName="1.2">
	<application android:icon="@drawable/icon" android:label="@string/app_name"
		android:debuggable="true">
		<activity android:name=".Main" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.DEFAULT" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name="LockScreen$Controller"
			android:launchMode="singleInstance" android:finishOnTaskLaunch="true">
		</activity>

		<service android:enabled="true" android:name="ScreenService" />

		<receiver android:name=".LockScreen" android:permission="android.permission.BIND_DEVICE_ADMIN">
			<meta-data android:name="android.app.device_admin"
				android:resource="@xml/device_admin_sample" />
			<intent-filter>
				<action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
			</intent-filter>
		</receiver>
	<activity android:name="net.youmi.android.AdActivity"
		android:configChanges="keyboard|keyboardHidden|orientation" />
	<activity android:configChanges="keyboard|keyboardHidden|orientation"
		android:name="net.youmi.android.appoffers.YoumiOffersActivity" >
	</activity>
	<meta-data android:name="YOUMI_CHANNEL" android:value="10030"></meta-data>
	</application>
	<uses-sdk android:minSdkVersion="8" />

	<uses-permission android:name="android.permission.WAKE_LOCK"></uses-permission>
	<uses-permission android:name="android.permission.INTERNET">
	</uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION">
	</uses-permission>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE">
	</uses-permission>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE">
	</uses-permission>
		
</manifest> 